:root { 
	--color-background: rgb(255, 255, 255); 
	--color-primary: #fc8080;
	--font-family-base: Poppin, sans-serif; 
	--font-size-h1: 1.25rem;
	--font-size-h2: 1rem;
}

* {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.payment {
	background-color: rgb(255, 255, 255);
	display: grid;
	font-family: Poppin, sans-serif;
	font-family: var(- -font-family-base);
	line-height: 1.5;
	min-height: 100vh;
	padding: 5vmin;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-items: center;
	place-items: center;
}

.iphone {
	background-color: rgba(54, 19, 84, .85);
	border-radius: 2em;
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
	width: 1000px;
	overflow: auto;
	padding: 2em;
}

;
address {
	font-style: normal;
}

button {
	border: 0;
	color: inherit;
	cursor: pointer;
	font: inherit;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 1.25rem;
	font-size: var(- -font-size-h1);
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 1.5em;
}

h2 {
	font-size: 1rem;
	font-size: var(- -font-size-h2);
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: 0.5em;
}

legend {
	font-weight: 600;
	margin-bottom: 0.5em;
	padding: 0;
}

input {
	border: 0;
	color: inherit;
	font: inherit;
}

input[type="radio"] {
	accent-color: #fc8080;
	accent-color: var(- -color-primary);
}

table {
	border-collapse: collapse;
	width: 100%;
}

tbody {
	color: #b4b4b4;
}

td {
	padding-top: 0.125em;
	padding-bottom: 0.125em;
	color: white;
}

tfoot {
	border-top: 1px solid #b4b4b4;
	font-weight: 600;
}

.align {
	display: grid;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-items: center;
	place-items: center;
}

.button {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #fc8080;
	background-color: var(- -color-primary);
	border-radius: 999em;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	grid-gap: 0.5em;
	gap: 0.5em;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	padding-left: 1em;
	padding-right: 1em;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.button:focus, .button:hover {
	background-color: #e96363;
}

.button--full {
	width: 100%;
}

.card {
	border-radius: 1em;
	background-color: #fc8080;
	background-color: var(- -color-primary);
	color: #fff;
	padding: 1em;
}

.form {
	display: grid;
	grid-gap: 2em;
	gap: 2em;
}

.form__radios {
	display: grid;
	grid-gap: 1em;
	gap: 1em;
	position: relative;
}

.form__radio {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #fefdfe;
	border-radius: 1em;
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
	box-shadow: 0 0 1em rgba(0, 0, 0, 10%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 1em;
}

.form__radio label {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	grid-gap: 1em;
	gap: 1em;
}

.header1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	color: white
}

.btn_update {
	line-height: 1.2;
	font-size: var(- -font-size-h2);
	top: 8px;
	right: 10px;
	position: absolute;
}

.update_info {
	cursor: pointer;
	margin-right: 10px;
}

.forms__radio {
	align-items: center;
	background-color: #fefdfe;
	border-radius: 1em;
	box-shadow: 0 0 1em rgba(0, 0, 0, 10%);
	padding: 1em;
	margin-top: 10px;
}

.info_student{
	display: block;
	margin-bottom: 5px;
}