/* Pc Low */

@media (max-width: 1200px) {

}


/* Mobile & Tablet */

@media (max-width: 1023px) {
    .header_nav_container>.wide {
        position: relative;
    }
    .hide-on-tablet_mobile {
        display: none;
    }
    
    .categories_menu_container--menu{
        display: none;
    }

    .header_nav_container--list {
        display: none;
    }

    .header .header_nav .list-tablet-mobile {
        display: block;
        position: absolute;
        right: -35px;
        top: 9px;
        font-size: 22px;
        color: var(--white-color);
        z-index: 2;
        cursor: pointer;
    }
    .header .header_nav .list-tablet-mobile:hover {
        color: var(--yellow);
    }
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {

}


/* Mobile */

@media (max-width: 740px) {
    .header .header_nav .header_nav_container--search {
        text-align: right;
        padding-right: 60px;
        position: relative;
        color: var(--white-color);
    }
    .header_topbar_container--contacts a {
        color: var(--white-color);
        padding: 0 5px;
    }
    .grid {
        width: 98%;
    }
    .header_nav_container--search input {
        height: 40px;
        width: 90%;
        position: absolute;
        border: none;
        outline: none;
        right: 0;
        margin-top: -20px;  
        /* opacity: 0; */
        padding-left: 15px;
        border-radius: 5px;
        transition: all .5s ease;
        transform: translateY(50%);
        box-shadow: 0 8px 20px rgb(0 0 0 / 15%);
        border-radius: 7px;
    }
}

@media (min-width: 480px) and (max-width: 655px) {
    .xs-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 479px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .header_nav_container--logo {
        font-size: 22px !important;
    }
    .header_topbar {
        display: none;
    }
    .header .header_nav_container {
        text-transform: uppercase;
        padding: 15px 0;
    }
    .header_nav {
        position: fixed;
        z-index: 2;
        width: 100%;
        background: rgba(54, 19, 84, .6);
    }
    .header .scroll {
        background: rgba(54, 19, 84, .6);
        height: 65px;
        position: fixed;
        z-index: 99;
        animation: toTop 1s ease;
    }
    @keyframes toTop {
        from {
            height: 65px;
        }
        to {
            height: 65px;
        }
    }
    .header_nav_container {
        text-transform: uppercase;
        padding: 5px 0;
    }
    .header .scroll .header_nav_container {
        padding: 12px 0;
    }
    .s-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .header .header_nav .header_nav_container--search input {
        height: 40px;
        width: 80%;
        position: absolute;
        border: none;
        outline: none;
        right: 25px;
        margin-top: -20px;  
        /* opacity: 0; */
        padding-left: 15px;
        border-radius: 5px;
        transition: all .5s ease;
        transform: translateY(50%);
        box-shadow: 0 8px 20px rgb(0 0 0 / 15%);
        border-radius: 7px;
    }
    .header_menu_body--content {
        transition: all .2s ease-in-out;
    }

    .header .header_nav .list-tablet-mobile{
        right: 15px
    }

    .categories_menu{
        display: none;
    }

    .container_advertise{
        padding-top: 70px;
        background: var(--bg-section);
    }

    .container .carousel_inner .carousel_indicators{
        left: 35%;
    }

    .container .product_row--img .product_row--thumbnail{
    	height: 400px;
    }

}
